@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Azeret+Mono');
body {
    background: rgb(127, 172, 37);
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight:400;
    text-align: center;
    font-size:16px;
    padding: 0 20vw;
}
#garden {
    display:grid;    
    margin:0 auto;
    border: 10px solid rgb(107, 54, 17);
    padding:25px;
    grid-auto-columns: 1fr;
    cursor: url("../img/shovel2.svg"), auto;
    max-width:30vw;
}
#garden div, #garden div svg {
    max-height:25vh;
}
.row {
    display:grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}
#stats {
    list-style: none;
    padding: 0;
    font-size:1.2em;
    display:flex;
    justify-content:space-around;
    margin:0 auto;
    padding:0.5em 0 0.5em;
    max-width:60vh;
}
h1{
    font-weight: 700;
    font-size:3em;
    padding-bottom: 0;
    margin: 0;
}
#directions {
    font-size:0.8em;
    padding:0;
    margin:0;
    color:rgb(215, 233, 178);
}
.tooltip {
    width:max-content;
}
.tooltip ul {
    list-style: none;
    padding:0;
}
.tooltip ul li {
    display:block;
}
.tooltip ul li svg {
    max-width:3em;
}
.tooltip h3 {
    padding:0;
    margin:0;
}
.tippy-box[data-theme~='simple'] {
    background-color: white;
    color: rgb(107, 54, 17);
    border:0.3em solid;
}
.tippy-box[data-theme~='simple'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: rgb(107, 54, 17);
    transform: scale(1.5);
    margin-bottom:-0.2em;
}
.tippy-box[data-theme~='simple'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color:rgb(107, 54, 17);
    transform: scale(1.5);
    margin-top:-0.2em;
}
.tippy-box[data-theme~='simple'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: rgb(107, 54, 17);
    transform: scale(1.5);
    margin-right:-0.2em;
}
.tippy-box[data-theme~='simple'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: rgb(107, 54, 17);
    transform: scale(1.5);
    margin-left:-0.2em;
}
footer button {
    border:2px solid rgb(107, 54, 17);
    background: rgb(107, 54, 17);
    color:white;
    padding:0.5em 2em;
    margin-top:1em;
    font-weight:700;
    font-size:1.2em;
}
footer #restart-btn {
    background: rgb(107, 17, 17);
}
footer button:hover, footer button:focus {
    border:2px solid white;
}